@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
body{
  background: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(241,241,241,1) 100%);

}

header{
  background: linear-gradient(306deg, rgba(161,92,176,1) 0%, rgba(105,56,116,1) 48%, rgba(46,18,52,1) 97%);
  text-align: center;
  height: 660px;
  margin-bottom: 50px;
}

header h2{
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-style: italic;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding: 0 10px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
}

.navbar nav ul{
  display: flex;
  gap: 40px;
  font-size: 20px;
  color: #fbd1ff;
  list-style-type: none;
}

.navbar nav ul li:hover{
  color: #f04eff;
  cursor: pointer;
}

.logo{
  font-size: 20px;
  text-decoration: none;
}

.logo a{
  color: #fbd1ff;
  text-decoration: none;
}

.header_content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 70px;
  max-width: 1200px;
  margin: 0 auto;
}

.header_content img{
  padding: 10px;
  height: 400px;
}

.title_subtitle{
  padding: 30px;
}

.title_subtitle h1{
  font-family: Montserrat, sans-serif;
  font-size: 70px;
  color: rgb(200,132,206);
  text-transform: uppercase;
  margin-bottom: 100px;
  text-shadow: 2px 2px 0px #68597a, 5px 4px 0px rgba(0,0,0,0.15);
}

.title_subtitle p{
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  font-style: italic;
  color: whitesmoke;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding: 20px 0;
}

.title_subtitle h1 span{
  color: #fbd1ff;
}

.title_subtitle p span{
  text-transform: uppercase;
  font-weight: 600;
  color: #29b7dd;
}

.article_1{
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.article_1 h2{
  font-family: 'Righteous', cursive;
  color: #313131;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.article_1_content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.article_1_content p{
  font-size: 20px;
  line-height: 30px;
}

.article_1_content img{
  height: 500px;
}

.article_2{
  background-image:linear-gradient( rgba(0,0,0,0.9),rgba(0,0,0,0.8)), url(./img/img-student-coder.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px ;
  margin-bottom: 50px;
}

.article_2_content{
  max-width: 1200px;
  margin: 0 auto;
}

.article_2_content h2{
  font-family: 'Righteous', cursive;
  letter-spacing: 5px;
  color: #e4e4e4;
  font-size: 40px;
  margin: 20px 0 20px;
}

.article_2_content h3{
  font-family: Montserrat, sans-serif;
  color: #c621f0;
  margin-top: 20px;
}

.article_2 p{
  color: whitesmoke;
  font-size: 18px;
}

#cards-content{
  display: block; 
  max-width: 1024px;
  padding: 50px 0 100px;
  margin: 0 auto;
  width: 100%;
}

#cards-content h2{
  color: #3b065e;
  text-align: center;
  word-spacing: 3px;
  font-family: 'Satisfy', cursive;
  font-size: 45px;
  padding-bottom: 20px;
}

#cards-content p{
  text-align: center;
  padding: 10px;
  word-spacing: 3px;
}

.cards{
  display: inline-block; 
  text-align: justify;
  border: 5px solid rgb(246, 246, 246);
  border-radius: 10px;
  vertical-align: top;
  max-height: 100%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

details{
  width: 300px;
  height: auto;
  display: inline-block;
}

.imagem{
  display: block;
  width: 300px;
  border-radius: 10px 10px 0 0;
}

.nome{
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.descricao{
  padding: 0 10px 10px 10px;
}

.saibaMais{
  text-align: center;
  color: #5c407e;
}

.saibaMais:hover{
  color: #c621f0;
  cursor: pointer;
}

.conteudo_contato{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.side_txt{
  text-align: center;
  padding: 20px;
  color: rgb(128, 128, 128);
  font-size: 40px;
  width: 50%;
}

.side_txt h3{
  font-family: Montserrat, sans-serif;
}

.news_letter{
  width: 50%;
}
  
.form{
  width: 500px;
  padding: 25px 10px;
  font-size: 20px;
  margin: auto;
  border-radius: 10px;
  background-color: #cecece;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form div{
  display: flex;
  gap: 10px;
}

.form input{
  height: 30px;
  border: 0;
  border-radius: 5px;
  width: 80%;
}
.form button{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  padding: 5px 30px;;
}

.form button:hover{
  color: white;
  background-color: #a15cb0;
}

.form ::placeholder{
  padding-left: 10px;
}

footer{
  background: linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(19,18,18,1) 96%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-top: 80px;
}

.footer-content{
  display: inline-block;
  font-size: 15px;
  color: #dadada;
  padding: 5px;
  text-align: center;
}

.footer-content p{
  margin-top: 30px;
}

.redes-sociais ul{
  display: flex;
  gap:40px;
  list-style-type: none;
}

.redes-sociais ul li a img:hover{
  transition: all 0.2s;
}

.redes-sociais ul li a img:hover{
  scale: 1.2;
}


