@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
body{
  background: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(241,241,241,1) 100%);

}

header{
  background: linear-gradient(to top, rgb(211, 211, 211) 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  text-align: center;
  height: 220px;
  margin-bottom: 80px;
}

header h1{
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  padding: 50px 10px 20px 10px;
  margin-bottom: 0;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}

header h2{
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-style: italic;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding: 0 10px;
}

#cards-content{
  display: block; 
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.cards{
  display: inline-block; 
  text-align: justify;
  border: 5px solid rgb(246, 246, 246);
  border-radius: 10px;
  vertical-align: top;
  max-height: 100%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

details{
  width: 300px;
  height: auto;
  display: inline-block;
}

.imagem{
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.nome{
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.descricao{
  padding: 0 10px 10px 10px;
}

.citacao{
  font-style: italic;
  padding: 0 20px 20px;
}

footer{
  background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-top: 80px;
}

.footer-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  color: #3b3b3b;
  padding: 10px;
  text-align: center;
}

.footer-content div li{
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
 }

 .footer-content div li a img{
  height: 25px;
  transition: all 0.2s;
}

.footer-content div li a img:hover{
  scale: 1.2;
}


